In [3]:
import pandas as pd
from pygris.data import get_census

In [27]:
api_key = '4489ebf8b64678c1d20d81cb44308726a18db5a2'

variables = [
    'B01003_001E',  #Total Population
    'B23025_003E',  # Employment status (total in civilians in labor force - 16 yrs or older)
    'B23025_005E',  # Unemployment (number of unemployed)
    'B23025_004E',  # Employment (number of employed)
    'B28002_001E',  # Households with internet access
    'B28002_002E',  # Households with internet access (see below for details)
    'B28002_003E',  # Households with internet access (see below for details)
    'B28002_004E',  # Households with internet access (see below for details)
    'B28002_005E',  # Households with internet access (see below for details)
    'B28002_006E',  # Households with internet access (see below for details)
    'B28002_007E',  # Households with internet access (see below for details)
    'B28002_008E',  # Households with internet access (see below for details)
    'B28002_009E',  # Households with internet access (see below for details)
    'B28002_010E',  # Households with internet access (see below for details)
    'B28002_011E',  # Households with internet access (see below for details)
    'B28002_012E',  # Households with internet access (see below for details)
    'B28002_013E',  # Households with NO internet access
]

# Get ACS data by state
acs_data = get_census(dataset='acs/acs5', 
                      year=2022, 
                      variables=variables, 
                      params = {
                          "for": "state:*"
                      })

acs_df = pd.DataFrame(acs_data)

acs_df.rename(columns={
    'B01003_001E': 'total_population',
    'B23025_003E': 'labor_force',
    'B23025_005E': 'unemployed',
    'B23025_004E': 'employed',
    'B28002_001E': 'internet_access',
    'B28002_002E': 'internet_access2',
    'B28002_003E': 'internet_access3',
    'B28002_004E': 'internet_access4',
    'B28002_005E': 'internet_access5',
    'B28002_006E': 'internet_access6',
    'B28002_007E': 'internet_access7',
    'B28002_008E': 'internet_access8',
    'B28002_009E': 'internet_access9',
    'B28002_010E': 'internet_access10',
    'B28002_011E': 'internet_access11',
    'B28002_012E': 'internet_access12',
    'B28002_013E': 'internet_access13',
    'state': 'state_fips'
}, inplace=True)

# from us import states
# state_abbr = {state.fips: state.name for state in states.STATES}
# acs_df['state'] = acs_df['state_fips'].map(state_abbr)

state_abbr = {
    '01': 'Alabama', '02': 'Alaska', '04': 'Arizona', '05': 'Arkansas', '06': 'California',
    '08': 'Colorado', '09': 'Connecticut', '10': 'Delaware', '11': 'District of Columbia',
    '12': 'Florida', '13': 'Georgia', '15': 'Hawaii', '16': 'Idaho', '17': 'Illinois',
    '18': 'Indiana', '19': 'Iowa', '20': 'Kansas', '21': 'Kentucky', '22': 'Louisiana',
    '23': 'Maine', '24': 'Maryland', '25': 'Massachusetts', '26': 'Michigan', '27': 'Minnesota',
    '28': 'Mississippi', '29': 'Missouri', '30': 'Montana', '31': 'Nebraska', '32': 'Nevada',
    '33': 'New Hampshire', '34': 'New Jersey', '35': 'New Mexico', '36': 'New York',
    '37': 'North Carolina', '38': 'North Dakota', '39': 'Ohio', '40': 'Oklahoma', '41': 'Oregon',
    '42': 'Pennsylvania', '44': 'Rhode Island', '45': 'South Carolina', '46': 'South Dakota',
    '47': 'Tennessee', '48': 'Texas', '49': 'Utah', '50': 'Vermont', '51': 'Virginia',
    '53': 'Washington', '54': 'West Virginia', '55': 'Wisconsin', '56': 'Wyoming'
}

# Map state FIPS codes to state names
acs_df['state'] = acs_df['state_fips'].map(state_abbr)

# Move the 'state' column to the beginning
cols = ['state'] + [col for col in acs_df.columns if col != 'state']
acs_df = acs_df[cols]

acs_df.head()

,state,total_population,labor_force,unemployed,employed,internet_access,internet_access2,internet_access3,internet_access4,internet_access5,internet_access6,internet_access7,internet_access8,internet_access9,internet_access10,internet_access11,internet_access12,internet_access13,state_fips
0,Alabama,5028092,2329696,120030,2209666,1933150,1625807,6090,1619717,1478948,294713,1221985,115813,170518,14711,1390,51456,255887,01
1,Alaska,734821,362197,23035,339162,264376,236875,610,236265,218244,43239,182105,15864,15342,1212,205,5635,21866,02
2,Arizona,7172282,3467247,186058,3281189,2739136,2448838,5550,2443288,2226250,294043,2027802,180307,226635,20315,1970,62512,227786,04
3,Arkansas,3018669,1391084,71601,1319483,1171694,968272,2584,965688,883988,188601,706838,67684,98526,8743,641,36213,167209,05
4,California,39356104,20011853,1282055,18729798,13315822,12195945,18361,12177584,11390547,1370203,10310555,671760,1084864,58921,8022,263836,856041,06

Internet Access Columns:
- 1 - Total People Serveyed for Internet Access
- 2 - Pple w/ Access
- 3 - w/ dial-up
- 4 - w/ broadband
- 5 - w/ cellular data plan
- 6 - just cellular data plan
- 7 - w/ broadband-cable
- 8 - just broadband-cable
- 9 - w/ satellite internet
- 10 - just satellite internet
- 11 - just other
- 12 - internet access w/o subscription
- 13 - NO ACCESS

In [26]:
csv_file_path = 'int_access_check.csv'
acs_df.to_csv(csv_file_path, index=False)

In [24]:
# acs_df['sum_internet_access'] = acs_df.loc[:, 'internet_access2':'internet_access13'].sum(axis=1)

# # Compare the summed columns to the 'internet_access' column
# acs_df['comparison'] = acs_df['internet_access'] == acs_df['sum_internet_access']
# acs_df.head()

,state,total_population,labor_force,unemployed,employed,internet_access,internet_access2,internet_access3,internet_access4,internet_access5,...,health_insurance,age_distribution,age_distribution,gender_distribution_male,gender_distribution_female,racial_composition,B03002_001E,state_fips,sum_internet_access,comparison
0,Alabama,5028092,2329696,120030,2209666,1933150,1625807,6090,1619717,1478948,...,4944981,5028092,5028092,2445995,2582097,5028092,5028092,01,1625807609016197171478948294713122198511581317...,False
1,Alaska,734821,362197,23035,339162,264376,236875,610,236265,218244,...,706392,734821,734821,386649,348172,734821,734821,02,2368756102362652182444323918210515864153421212...,False
2,Arizona,7172282,3467247,186058,3281189,2739136,2448838,5550,2443288,2226250,...,7060320,7172282,7172282,3588510,3583772,7172282,7172282,04,2448838555024432882226250294043202780218030722...,False
3,Arkansas,3018669,1391084,71601,1319483,1171694,968272,2584,965688,883988,...,2964272,3018669,3018669,1491622,1527047,3018669,3018669,05,9682722584965688883988188601706838676849852687...,False
4,California,39356104,20011853,1282055,18729798,13315822,12195945,18361,12177584,11390547,...,38874540,39356104,39356104,19708947,19647157,39356104,39356104,06,1219594518361121775841139054713702031031055567...,False

In [28]:
#failed not working code, just downloading tables instead of trying api calls for brfss

import requests
import pandas as pd

# Define the base URL for the CDC BRFSS API
base_url = "https://chronicdata.cdc.gov/resource/k8w5-7ju6.json"

# Define the parameters for the API call (adjust as needed)
params = {
    "$limit": 500,  # Number of records to retrieve (just showing the head)
    "$offset": 0,    # Offset for pagination
    "$select": "year, locationabbr, locationdesc, topic, measure, data_value"  # Fields to retrieve
}

# Make the API call
response = requests.get(base_url, params=params)

# Check if the request was successful
if response.status_code == 200:
    # Convert the response JSON to a pandas DataFrame
    data = pd.DataFrame(response.json())
    
    # Display the first few rows of the DataFrame
    print(data.head())
else:
    print(f"Failed to retrieve data: {response.status_code}")

Failed to retrieve data: 400

# Function for Retrieving ACS Data

In [ ]:
def acs_extract(yr, variables, renamed, state_abbr, custom_func=None):

    # Get ACS data by state
    acs_data = get_census(dataset='acs/acs5', 
        year=yr, 
        variables=variables, 
        params = {
            "for": "state:*"
        })
    
    acs_df = pd.DataFrame(acs_data)

    #rename columns to be more 
    rename_dict = dict(zip(variables, renamed))
    rename_dict['state'] = 'state_fips'
    acs_df.rename(columns=rename_dict, inplace=True)
    
    # Convert columns to integers
    numeric_columns = [col for col in acs_df.columns if col not in ['state_fips']]
    acs_df[numeric_columns] = acs_df[numeric_columns].astype(int)

    # Map state FIPS codes to state names
    acs_df['state'] = acs_df['state_fips'].map(state_abbr)

    acs_df['year'] = yr
    cols = ['year'] + ['state'] + [col for col in acs_df.columns if col not in ['year', 'state']]
    acs_df = acs_df[cols]

    #specific function for data being used on acs_df
    if custom_func is not None:
        acs_df = custom_func(acs_df)

    return acs_df